$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    "../img/contact/contact-s1.jpg",
    "../img/contact/contact-s2.jpg",
    "../img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__faq-img: "../img/faq/faq-s1.jpg";
$bg__gallery-img: "../img/gallery/gallery-s1.jpg";
$bg__index-img: "../img/index/index-s1.jpg";
$bg__info-img: 
    "../img/info/info-s1.jpg",
    "../img/info/info-s2.jpg",
    "../img/info/info-s3.jpg";
$bg__login-img: "../img/login/login-s1.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__classes:
    "comingsoon",
    "contact",
    "error",
    "faq",
    "gallery",
    "index",
    "info",
    "login",
    "privacy";
$bg__aoa:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__faq-img,
    $bg__gallery-img,
    $bg__index-img,
    $bg__info-img,
    $bg__login-img,
    $bg__privacy-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 